<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zjj.cosco">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />;
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.CanvasActivity">

        </activity>
        <activity
            android:name=".activity.PhotoActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.RectCameraActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.DownloadActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.AndroidOPermissionActivity"
            android:screenOrientation="portrait"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zjj.cosco.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity
            android:name=".activity.CropImgActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ImportExcelActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ClipPictureActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.FloatBallActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay">
        </activity>
        <service android:name="com.zjj.cosco.service.FloatViewService"/>
        <activity
            android:name=".view.TestActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".permission.PermissionActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".observer.ObserverActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".observer.ObservableAcitvity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.EditTextActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MenuActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>